* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
}
.bg-blue-homepage {
  background-color: #00579c;
}
.bg-blue-light-homepage {
  background-color: #077ad1;
}
.bg-blue-dark-homepage {
  background-color: #002843;
}
.text-blue-homepage {
  color: #00579c;
}
.text-blue-light-homepage {
  color: #077ad1;
}
.text-blue-dark-homepage {
  color: #002843;
}
/* menu circle animate */
.menuCircleContact,
.menuCircleContact button {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

.menuCircleContact button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
}

.menuCircleContact button:hover {
  background: #3071a9;
}

.menuCircleContact button:focus {
  outline: none;
}

.menuCircleContact {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.menuCircleContact ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
}

.menuCircleContact li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.menuCircleContact li input {
  display: none;
}

.menuCircleContact li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
}

.menuCircleContact li input + label:hover {
  background: #f0f0f0;
}

.menuCircleContact li input:checked + label {
  background: #5cb85c;
  color: white;
}

.menuCircleContact li input:checked + label:hover {
  background: #449d44;
}

.menuCircleContact.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}
/* header - navbar*/
nav.navbar {
  background: url("../images/navbar_bg.png");
  background-size: cover;
  background-position: left center;
  min-height: 100px;
}
nav.navbar .mcard_ecormerce i:hover {
  color: #fff !important;
  transition: all 0.3s;
}
/* intro section */
.intro_mcard {
  background-color: #f2f2f2;
}
.intro_left_img img,
.intro_right_img img {
  width: 100%;
}
/* QR-touch section */
.touch_QR {
  background: url("../images/info_conect_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 150px;
  width: 100%;
}
.touch_QR img{
  
}

/* Circle Contact */
.circle_contact {
  background-color: #f2f2f2;
  background: url("../images/circle_contact_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
}
.circle_contact .image-override {
  position: relative;
  left: -3%;
  width: 300px;
  height: 300px;
  overflow-y: hidden;
}
.circle_contact .image-override img {
  position: absolute;
}
footer.footer img{
  position: relative;
  top: -20px;
}