* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* variable color */
.bg-blue-homepage {
  background-color: #00579c;
}
.bg-blue-light-homepage {
  background-color: #077ad1;
}
.bg-blue-dark-homepage {
  background-color: #002843;
}
.text-blue-homepage {
  color: #00579c;
}
.text-blue-light-homepage {
  color: #077ad1;
}
.text-blue-dark-homepage {
  color: #002843;
}
.border-blue-homepage {
  border-color:  #00579c !important;
}
.border-blue-light-homepage {
  border-color:  #077ad1 !important;
}
.border-blue-dark-homepage {
  border-color:  #002843 !important;
}
/* css event fixed when scroll navbar */
/* .fixed-navbar{
  position: fixed;
  z-index: 99999;
  width: 100%;
  top: 0;
  left: 0;
} */
/* css button back-to-top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
}
/* header - navbar*/
nav.navbar {
  background: url("../images/navbar_bg.png");
  background-size: cover;
  background-position: left center;
  min-height: 70px;
}
nav.navbar .navbar_page_body{
  position: absolute;
  top: 50px;
  left: 50px;
}

/* intro section */
.intro_mcard {
  background-color: #f2f2f2;
}
.intro_left_img img,
.intro_right_img img {
  width: 100%;
}
/* QR-touch section */
.touch_QR {
  background: url("../images/info_conect_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  background-color: #f2f2f2 !important;
}
.touch_QR img {
  position: relative;
  z-index: 2;
}

/* Circle Contact */
.circle_contact {
  background: url("../images/circle_contact_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.circle_contact .col-8.col-md-8 {
  overflow: hidden;
}
/* .circle_contact .image-override {
  position: relative;
  left: -3%;
  width: 300px;
  height: 300px;
}
.circle_contact .image-override img{
  transform: scale(-200px);
}
.circle_contact .image-override img {
  position: absolute;
} */
/* template_card */
.list_type_card a {
  text-decoration: none;
  font-size: 12px;
  transition: all 0.3s;
  /* color: #000; */
}
.template_card a {
  text-decoration: none;
  transition: all 0.3s;
}
.template_card a:hover {
  color: #00579c !important;
}
.template_card .list_type_card a:hover {
  color: #00579c !important;
}
.slider .carousel {
  position: relative;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
}
.slider .active {
  display: block;
}
/* tutorial_register_section */
.tutorial_register_section {
  background: url("../images/tutorial_mcard_bg.png");
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center;
  width: 100%;
  min-height: 409px;
}
.tutorial_register a {
  text-decoration: none;
  padding-top: 15px;
}

.city_img_outline img {
  width: 100%;
}
