/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .tablet_dev_background,
  .desktop_dev_background {
    display: none;
  }
  .tablet_dev_background img,
  .desktop_dev_background img {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: #a19389;
    overflow: hidden;
  }
  .header,
  .main,
  .footer {
    display: none;
  }
  .tablet_dev_background {
    display: block;
    height: 100vh;
  }
  .tablet_dev_background img {
    display: block;
  }
  .desktop_dev_background,
  .desktop_dev_background img,
  .desktop_dev_background span {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: #fff;
  }
  .header,
  .main,
  .footer {
    display: block;
  }
  .tablet_dev_background,
  .desktop_dev_background,
  .tablet_dev_background img {
    display: none !important;
  }
}
